@import '_cores';

@import '_base';

@import '_card';

aside.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 20rem;
    height: auto;
    z-index: 1000;

    background-color: $corprimaria;
    color: #ffffff;

    padding: 1rem;
    transition: ease 500ms;

    & > header {
        display: block;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        font-family: 'Comfortaa', 'Arial', sans-serif;

        a.btn {
            display: none;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: auto;
            line-height: 2.8rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: .15rem;
            text-decoration: none;

            & > i.fa {
                font-size: 1.4rem;
                margin-right: .25rem;
            }
        }
    }

    & > nav[role="navigation"] {
        margin-top: 3rem;

        & > a {
            font-size: 1.4rem;
            display: block;
            color: #ffffff;
            padding: 1rem;
            margin-bottom: .5rem;
            text-decoration: none;
            border-radius: .3rem;
            transition: all 300ms ease;

            &:hover {
                background-color: #3575b5;
            }

            &.active,
            &.active:hover {
                background-color: #4b84bd;
                color: #ffffff;
            }
        }

        & > hr {
            display: block;
            border-color: #4b84bd;
            margin: 1rem 0;
        }
    }
}

main[role="main"] {
    padding: 2rem 3rem 5rem;

    /*
     * Ajusta o peso da fonte para elementos que usam negrito.
     */
    table th,
    label {
        font-weight: 500;
    }

    #pnLogin {
        max-width: 60rem;
        margin: 0 auto;

        & > .panel-body > .form {
            padding: 0 3rem;

            .form-group {
                margin-bottom: 1rem;
            }

            #lnkEsqueciSenha {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .panel-footer {
        overflow-x: hidden;
    }

    .alert {
        border-radius: 0;
        font-size: 1.6rem;
        border-color: rgba(0, 0, 0, .12);

        &.closing {
            transition: all 1s;
            opacity: 0;
        }
    }

    small,
    .small {
        font-size: 1rem;
    }

}

input.form-control {
    box-shadow: none;
}

@import '_studyplan';

@media (max-width: 960px) {
    body {
        margin-left: 0;
        margin-top: 3.5rem;

        &.sidebar-open {
            aside.sidebar {
                left:  0;

                & > header {
                    left: 20rem;
                }
            }
        }
    }

    aside.sidebar {
        left: -20rem;

        & > header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            width: auto;
            height: auto;
            background-color: inherit;
            box-shadow: .1rem 0 .1rem 0 #000;
            transition: ease 500ms;

            & > a.btn {
                display: block;
            }
        }
    }

    main[role="main"] {
        #pnLogin > .panel-body > .form {
            padding: 0;
        }
    }
}
