@charset 'utf-8';

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    background: hsl(210, 70%, 40%);
    color: rgb(255, 255, 255);

    font-family: 'Poiret One', Arial, sans-serif;
    font-size: 2.4em;
    font-weight: 300;

    display: flex;
}

.centered {
    flex: auto;
    flex-grow: 1;
    align-self: center;
    text-align: center;

    .appname {
        text-align: center;
        font-size: 4em;

        & > .oi {
            font-size: .455em;
            padding: 0 .1em;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: .35em;
    }
}